body {
	background-color: black;
	text-align: center;
	font-family: Verdana;
	margin: 20px;
}


.header {
	font-weight: normal;
	font-size: 50px;
	color: white;
	align-content: center;
	margin: 5px;
}

a {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
	align-content: center;
}


p {
	font-size: 21px;
	color: gray;
}

footer {
	text-align: right;
	color: gray;
	font-size: 22px;
}


div {
	padding: 15px;
}